﻿
@{
    ViewData["Title"] = "AdminUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><u>Admin Users Page</u></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <input type="text" id="searchbox" class="form-control input adaptive" placeholder="Search by Username" />
        </div>
        <div class="col-md-4 text-center">
            <button type="button" id="btnAddNewAdminUser" class="btn btn-info">Add New Admin User</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <table id="AdminUserList" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>                        
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-4 text-center">
            <div id="updateInfo">
                <h2><u>Update Provider</u></h2>
                <form asp-action="UpdateAdminUser" asp-controller="Admin">
                    <input type="hidden" class="form-control" id="adminId" name="adminId" />
                    <label>Admin Username</label>
                    <input type="text" class="form-control" id="adminUserName" name="adminUserName" required />
                    <br />
                    <input type="submit" class="btn btn-success" value="Update Admin User" />
                </form>
            </div>

            <div id="addNew">
                <h2><u>Add New Admin User</u></h2>
                <form asp-action="AddNewAdminUser" asp-controller="Admin">
                    <label>Admin Username</label>
                    <input type="text" id="adminUserName" name="adminUserName" class="form-control" placeholder="UserName" required />
                    <br />
                    <input type="submit" class="btn btn-success" value="Add New Admin User" />
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@section scripts {
    <script src="~/js/AdminUsers.js" asp-append-version="true"></script>
}