﻿
@{
    ViewData["Title"] = "Providers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><u>Providers Page</u></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <input type="text" id="searchbox" class="form-control input adaptive" placeholder="Search by Name or Zoom Meeting Id" />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button type="button" id="btnAddNewProvider" class="btn btn-info">Add New Provider</button>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table id="ProviderList" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Doctor Name</th>
                        <th>Zoom Meeting Id</th>
                        <th>Create Dt</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="col-md-4 text-center">
            <div id="updateInfo">
                <h2><u>Update Provider</u></h2>
                <form asp-action="UpdateProvider" asp-controller="Admin">
                    <input type="hidden" class="form-control" id="providerId" name="providerId" />
                    <label>Doctor Name</label>
                    <input type="text" class="form-control" id="providerName" name="providerName" required />
                    <br />
                    <label>Zoom Meeting Id</label>
                    <input type="text" class="form-control" id="zoomMeetingId" name="zoomMeetingId" required />
                    <br />
                    <input type="submit" class="btn btn-success" value="Update Provider" />
                </form>
            </div>

            <div id="addNew">
                <h2><u>Add New Provider</u></h2>
                <form asp-action="AddNewProvider" asp-controller="Admin">
                    <label>Doctor Name</label>
                    <input type="text" id="providerName" name="providerName" class="form-control" placeholder="Doctor/Provider Name" required />
                    <br />
                    <label>Zoom Meeting Id</label>
                    <input type="text" id="zoomMeetingId" name="zoomMeetingId" class="form-control" placeholder="Doctor/Provider Zoom Meeting Id #" />
                    <br />
                    <input type="submit" class="btn btn-success" value="Add New Provider" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/AdminHome.js" asp-append-version="true"></script>
}