﻿
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><u>Generated Appointments</u></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center">
            <input type="text" id="searchbox" class="form-control input adaptive" placeholder="Filter results by Search" />
            <br />
        </div>
        <div class="col-md-7"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="AppointmentList" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Appt Type</th>
                        <th>Patient Email</th>
                        <th>Appt Dt</th>
                        <th>Provider</th>
                        <th>Created Dt</th>
                        <th>Appt Created By</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

@section scripts {
    <script src="~/js/Appointments.js" asp-append-version="true"></script>
}
