﻿@model CreateNewZoomNotification

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                <u>Create New Appointment</u>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <form asp-action="SubmitZoomNotification" asp-controller="Submit">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <label class="placeholder">Provider Name</label>
                <select name="provider" id="providerList" class="form-control" required="required" title="Providers">
                    <option value="">Providers</option>
                    @foreach (var p in Model._ProviderList)
                    {
                        <option value='@p.Id'>@p.DoctorName</option>
                    }
                </select>

                <br />
                <label>Patient's Email</label>
                <input type="email" name="patientEmail" class="form-control" required="required" placeholder="" title="This field must be an Email Address">

                <br />
                <label class="placeholder">Date</label>
                <input type="datetime" name="apptDt" class="form-control" id="datetimepicker1" onblur="checkPastTime(this)" placeholder="" required="required" onkeydown="return false">

                <br />
                <label>Appointment Type</label>
                <br />

                @foreach (var a in Model._AppointmentTypes)
                {
                    <label><input id='@a.AppointmentType' type="radio" name="apptType" value='@a.Id'> @a.AppointmentType</label>
                    <br />
                }
                <br />
                <p>
                    The following pdf files will be included as attachments when sending out the email:
                    <br />
                    <a runat="server" href="~/attachment/PrivacyPractices.pdf" target="_blank">- Privacy Practices</a>
                    <br />
                    <a runat="server" href="~/attachment/ZoomInstructions.pdf" target="_blank">- Zoom Instructions</a>
                </p>
                <br />
                <input type="submit" id="btnSubmit" value="Send Email" class="btn btn-success" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/js/CreateNewZoomNotification.js" asp-append-version="true"></script>
}