﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Behavorial Health Zoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script src="https://kit.fontawesome.com/373941cf3b.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

    <link runat="server" href="~/css/custom.css" rel="stylesheet" />

    <link runat="server" href="~/css/custom2.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Behavorial Health Zoom</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="nav navbar-nav">

                                @if (ViewBag.IsUserAdmin == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Home" asp-action="Appointments">Generated Appointments</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Admin" asp-action="Index">Providers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Admin" asp-action="AdminUsers">Admin Users</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark navposition" asp-area="" asp-controller="Home" asp-action="Appointments">Generated Appointments</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p class="nav navbar-text navbar-right">@ViewBag.Username </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BehavorialHealthZoom
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.3.1.js" asp-append-version="true"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datetimepicker.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
